<h1>Top page</h1>
<%# 新規投稿ページへのリンク %>
<%= link_to '新規投稿', '/posts/new' %> 
<%# 複数のデータを一つずつ表示させるため %>
<% @posts.each do |post| %>   
<%# each文で＠を定義したから以下は＠をつけない %>
  <div class="post">
    <div class="post-date">
      投稿日時:<%= post.created_at %>
    </div>
    <div class="post-content">
      <%= post.content %>   
    </div>
  </div>
<% end %>